<!--Start Search Form-->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Show Exp Sets</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form (ngSubmit)="onSubmit()">
                    <div class="col-xs-3">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#screenData" data-toggle="tab">Screen</a>
                            </li>
                            <!--<li><a href="#rnaiData" data-toggle="tab">RNAi</a>-->
                            <!--</li>-->
                            <!--<li><a href="#chemicalData" data-toggle="tab">Chemical</a>-->
                            <!--</li>-->
                        </ul>
                        <div class="clearfix"></div>
                        <button type="submit" id="searchFormSubmit" class="btn btn-success">Submit</button>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-xs-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="screenData">
                                <p class="lead">Screen Data</p>
                                <app-search-form-exp-screen
                                        [formResults]="searchFormExpScreenResults"></app-search-form-exp-screen>
                            </div>
                            <div class="tab-pane" id="rnaiData">
                                <p class="lead">RNAis List</p>
                                <app-search-form-rnai [formResults]="searchFormRnaiFormResults"></app-search-form-rnai>
                            </div>
                            <!--<div class="tab-pane" id="chemicalData">Chemical</div>-->
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>

            </div>
        </div>

    </div>
</div>
<!--End Search Form-->

<!--Start Content-->
<div class="row">
    <div class="col-md-12">

        <div *ngIf="formSubmitted">
            <div id="loader" class="container">
                <div *ngIf="showProgress">
                    <div style="text-align: center; text-align:-moz-center; font-size:large">
                        Loading...
                    </div>
                </div>
            </div>
            <!--Begin Content-->
            <!--[infiniteScrollUpDistance]="1.5"-->
            <!--[infiniteScrollThrottle]="50"-->
            <div *ngIf="expSets" class="expSets">
                <div class="search-results"
                     infiniteScroll
                     [infiniteScrollDistance]="0.1"
                     (scrolled)="onScrollDown()"
                     (scrolledUp)="onScrollUp()">
                    <app-expset-sheet [expSets]="expSets" [expSetSearch]="expSetSearch"></app-expset-sheet>
                </div>
            </div>
            <!--End Content-->
        </div>
    </div>
</div>
<!--End Content-->
