<div *ngIf="albumsContainer" class="row">
  <div class="col-md-12">

    <div *ngFor="let expSet of albumsContainer; let i = index">
      <!--Begin ExpSet-->
      <div class="x_panel">
        <div class="x_title">
          <h2>Title</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <app-expset-album [score]="false"
                            [albums]="parsedExpSets"
                            [expSetAlbums]="expSet.expSetAlbums"
                            [expSet]="expSet.expSet">
          </app-expset-album>
        </div>
      </div>
      <!--End ExpSet-->
    </div>

  </div>
</div>
