<!--Start Search Form-->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Score Exp Sets</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form (ngSubmit)="onSubmit()">
                    <div class="col-xs-3">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#screenData" data-toggle="tab">Screen</a>
                            </li>
                            <li><a href="#rnaiData" data-toggle="tab">RNAi</a>
                                <!--</li>-->
                                <!--<li><a href="#chemicalData" data-toggle="tab">Chemical</a>-->
                                <!--</li>-->
                        </ul>
                        <div class="clearfix"></div>
                        <button type="submit" id="searchFormSubmit" class="btn btn-success">Submit</button>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-xs-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="screenData">
                                <p class="lead">Screen Data</p>
                                <app-search-form-exp-screen
                                        [formResults]="searchFormExpScreenResults"></app-search-form-exp-screen>
                            </div>
                            <div class="tab-pane" id="rnaiData">
                                <p class="lead">RNAis List</p>
                                <app-search-form-rnai [formResults]="searchFormRnaiFormResults"></app-search-form-rnai>
                            </div>
                            <!--<div class="tab-pane" id="chemicalData">Chemical</div>-->
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>

            </div>
        </div>

    </div>
</div>
<!--End Search Form-->

<ngx-spinner
        bdColor="rgba(51, 51, 51, 0.8)"
        size="large"
        color="#fff"
        type="ball-atom"
></ngx-spinner>

<!--Start Content-->
<div class="row">
    <div class="col-md-12">
        <div *ngIf="formSubmitted">
            <!--Begin Current Content-->
            <div *ngIf="expSets" class="expSets">
                <!--Begin Hotkeys Info-->
                <div class="row" *ngIf="expSetModule && expSetModule.expSetsDeNorm?.length">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h3>Hot Keys</h3>
                            </div>
                            <div class="x_content">
                                <p>Hot keys for Mutant are enabled by default 0-9,shift+1-shift+5, in the order of the
                                    form</p>
                                <p>Hot keys for the N2 are enabled with shift+n, and then are 0-9, shift+1,shift+3, in
                                    the order of the form</p>
                                <p>ReEnable mutant hotkeys with shift+m</p>
                                <p>Submit the form with shift+s</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--End Hotkeys Info-->
                <!--Begin expset-score component-->
                <div class="row" *ngIf="expSetModule && expSetModule.expSetsDeNorm?.length">
                    <div class="col-md-12">
                        <app-expset-score-primary
                                [score]="true"
                                [expSetModule]="expSetModule"
                                [expSet]="expSetModule.expSetsDeNorm[0]"
                                (getMoreExpSets)="getNewExpSets()"
                        ></app-expset-score-primary>
                    </div>
                </div>
                <!--End expset-score component-->
            </div>
            <!--End Current Content-->

            <!--Begin Empty Result Info-->
            <div *ngIf="expSets && ! expSets.expWorkflows?.length">
                <h2>Empty ResultSet</h2>
                <p>The search you performed returned an empty result set.</p>
                <p>Either your search is incorrect, or not in the database.</p>
            </div>
            <!--Begin Empty Result Info-->
        </div>
    </div>
</div>
<!--End Content-->
