<div *ngIf="expScreens" class="row">
  <div class="col-md-12">

    <div *ngIf="expScreens">
      <div class="form-group">
        <label for="screenName">Screen</label>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
              tooltip="Optionally, choose a screen. You must choose a screen to choose batch or temperature."></span>
        <select class="form-control" id="screenName"
                name="screenName"
                [(ngModel)]="formResults.expScreen"
                (ngModelChange)="getExpScreenWorkflows()"
        >
          <option *ngFor="let screen of expScreens" [ngValue]="screen">{{screen.screenName}}</option>
        </select>
      </div>
    </div>

    <!--<div *ngIf="formResults.expScreen">-->
      <!--<div *ngIf="expScreenWorkflows[0]">-->
        <!--<div class="form-group">-->
          <!--<label for="expWorkflowName">Batch</label>-->
          <!--<select class="form-control" id="expWorkflowName"-->
                  <!--name="expWorkflowName"-->
                  <!--[(ngModel)]="formResults.expScreenWorkflow"-->
          <!--&gt;-->
            <!--<option *ngFor="let expScreenWorkflow of expScreenWorkflows" [ngValue]="expScreenWorkflow">-->
              <!--{{expScreenWorkflow.name}}-->
            <!--</option>-->
          <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="temperatures">Temperatures</label>-->
          <!--<select id="temperatures"-->
                  <!--name="temperatures"-->
                  <!--class="select2_multiple form-control"-->
                  <!--[(ngModel)]="formResults.temperatures"-->
                  <!--multiple="multiple">-->
            <!--<option *ngFor="let temperature of temperatures">{{temperature}}</option>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
