<div *ngIf="expSets">
    <!--If View is byPlate show the Screen/ExpWorkflow Data-->
    <div *ngIf="byPlate" class="row">
        <div class="col-md-12">
            <h3>Screen : {{expSets.expScreens[0].screenName}}</h3>
            <h3>Batch: {{expSets.expWorkflows[0].name}}</h3>
            <h3>Screen Stage: {{expSets.expWorkflows[0].screenStage}}</h3>
            <h3>Temperature: {{expSets.expWorkflows[0].temperature}}</h3>
            <h3>Worm Strains: {{expSets.expWorkflows[0].biosamples.experimentBiosample.name}} +
                {{expSets.expWorkflows[0].biosamples.ctrlBiosample.name}} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="phenotype">Select a Phenotype</label>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                      tooltip="This only sorts the results on this page. To sort across an entire screen or the entire database, please use the form above."></span>
                <select [(ngModel)]="contactSheetUiOptions.phenotype" (ngModelChange)="phenotypeChanged()"
                        class="form-control" id="phenotype">
                    <option value="none">None</option>
                    <option value="percEmbLeth">% Embryonic Lethality</option>
                    <option value="percSter">% Sterility</option>
                    <option value="broodSize">Brood Size</option>
                    <option value="wormCount">Worm Count</option>
                    <option value="eggCount">Egg Count</option>
                    <option value="larvaCount">Larvae Count</option>
                    <option value="treatmentGroupId">Exp Set</option>
                    <option value="plateId">Plate ID</option>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                          tooltip="Group the exp sets"></span>
                </select>
                <br>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="sort">Sort Order</label>
                <select [(ngModel)]="contactSheetUiOptions.sortOrder" (ngModelChange)="phenotypeChanged()"
                        class="form-control" id="sort">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <br>
            </div>
        </div>
    </div>

    <!--Begin PhenoType Slider-->
    <div class="row">
        <div class="col-md-5">
            <div *ngIf="contactSheetUiOptions.phenoTypeUiOptions.displaySlider">
                Filter by {{contactSheetUiOptions.phenoTypeUiOptions.display}}
                <nouislider [connect]="true"
                            [config]="contactSheetUiOptions.sliderConfig"
                            [min]="contactSheetUiOptions.sliderConfig.range.min"
                            [max]="contactSheetUiOptions.sliderConfig.range.max"
                            [(ngModel)]="contactSheetUiOptions.sliderRangeValues"
                            (ngModelChange)="sliderChanged()"></nouislider>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg"
                    (click)="submitInteresting()"
                    tooltip="Submit everything you have selected as interesting. This will clear the view of all interesting results.">
                Submit Interesting
            </button>
            <br>
            <button type="button" class="btn btn-success btn-lg"
                    (click)="submitAll()"
                    tooltip="Submit everything selected as interesting and not for preselection of manual scores.">
                Submit All
            </button>
            <br>
            <button type="button" class="btn btn-warning btn-lg" (click)="reset()"
                    tooltip="Reset the form. All wells will be marked as 'not interesting'.">Reset
            </button>
            <br>
        </div>
    </div>
    <!--End PhenoType Slider-->

    <div class="row">
        <div class="col-md-6">
            <div class="checkbox checkbox-inline form-group">
                <input class="form-check-input " type="checkbox"
                       [(ngModel)]="contactSheetUiOptions.displayCounts"
                       name="displayCounts" id="displayCounts">
                <label class="form-check-label" for="displayCounts">
                    <strong style="color: darkgrey">Display Counts</strong>
                </label>
            </div>
        </div>
    </div>

    <br><br>
    <div *ngIf="errorMessage">
        <h2>Error Message!</h2>
        <p>{{errorMessage}}</p>
    </div>
    <br>


    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div role="tabpanel" data-example-id="togglable-tabs">

                        <!--Plate Presentation Menu-->
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab"
                                                                      data-toggle="tab"
                                                                      aria-expanded="true">Treatment</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab"
                                                                data-toggle="tab"
                                                                aria-expanded="false">Control Reagent</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2"
                                                                data-toggle="tab" aria-expanded="false">Control
                                Strain</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab5"
                                                                data-toggle="tab" aria-expanded="false">Control Null</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3"
                                                                data-toggle="tab" aria-expanded="false">Treatment
                                Interesting</a>
                            <li role="presentation" class=""><a href="#tab_content6" role="tab" id="profile-tab6"
                                                                data-toggle="tab" aria-expanded="false">Control Reagent
                                Interesting</a>
                            </li>
                        </ul>
                        <!-- !Plate Presentation Menu-->

                        <!--Plate Presentation Content-->
                        <div id="myTabContent" class="tab-content">
                            <!--Mutant Strain + RNAi-->
                            <div role="tabpanel" class="tab-pane active in" id="tab_content1"
                                 aria-labelledby="home-tab">
                                <div class="row" *ngIf="expSets.expGroupTypeAlbums.treatReagent?.length == 0">
                                    <h3>There are no Treatment Images for this query</h3>
                                    <p>This could mean that your experiment is not in the database, or that there are no
                                        counts yet.</p>
                                </div>

                                <app-grid-album [contactSheetResults]="contactSheetResults"
                                                [album]="expSets.expGroupTypeAlbums.treatReagent"
                                                [score]="true"
                                                [albumType]="'treatReagent'"
                                                [albums]="expSets.expGroupTypeAlbums"
                                                [displayCounts]="contactSheetUiOptions.displayCounts"
                                                (parseInterestingEvent)="parseInterestingToAlbumListener($event)"
                                                (getExpSetsEvent)="getExpSetsListener($event)"
                                ></app-grid-album>

                            </div>
                            <!-- !Mutant Strain + RNAi-->

                            <!--N2 + RNAi-->
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                <div class="row" *ngIf="expSets.expGroupTypeAlbums.ctrlReagent?.length == 0">
                                    <h3>There are no Ctrl Reagent Images for this query</h3>
                                    <p>This could mean that your experiment is not in the database, or that there are no
                                        counts yet.</p>
                                </div>
                                <app-grid-album
                                        [contactSheetResults]="contactSheetResults"
                                        [album]="expSets.expGroupTypeAlbums.ctrlReagent" [score]="true"
                                        [albumType]="'ctrlReagent'"
                                        (parseInterestingEvent)="parseInterestingToAlbumListener($event)"
                                        (getExpSetsEvent)="getExpSetsListener($event)"
                                        [albums]="expSets.expGroupTypeAlbums"
                                        [displayCounts]="contactSheetUiOptions.displayCounts"
                                ></app-grid-album>
                            </div>
                            <!--N2 + RNAi-->

                            <!--L4440 (ts)-->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content3" aria-labelledby="profile-tab">
                                <div class="row" *ngIf="expSets.expGroupTypeAlbums.ctrlStrain?.length == 0">
                                    <h3>There are no Ctrl Strain Images for this query</h3>
                                    <p>This could mean that your experiment is not in the database, or that there are no
                                        counts yet.</p>
                                </div>
                                <app-grid-album
                                        [contactSheetResults]="contactSheetResults"
                                        [album]="expSets.expGroupTypeAlbums.ctrlStrain"
                                        [score]="false"
                                        [albumType]="'ctrlStrain'"
                                        [displayCounts]="contactSheetUiOptions.displayCounts"
                                        [albums]="expSets.expGroupTypeAlbums"
                                        (parseInterestingEvent)="parseInterestingToAlbumListener($event)"
                                        (getExpSetsEvent)="getExpSetsListener($event)"
                                ></app-grid-album>
                            </div>
                            <!--L4440 (ts)-->


                            <!--L4440-->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content5" aria-labelledby="profile-tab">
                                <div class="row" *ngIf="expSets.expGroupTypeAlbums.ctrlNull?.length == 0">
                                    <h3>There are no Ctrl Null Images for this query</h3>
                                    <p>This could mean that your experiment is not in the database, or that there are no
                                        counts yet.</p>
                                </div>
                                <app-grid-album
                                        [contactSheetResults]="contactSheetResults"
                                        [album]="expSets.expGroupTypeAlbums.ctrlNull"
                                        [score]="false"
                                        [albumType]="'ctrlNull'"
                                        [displayCounts]="contactSheetUiOptions.displayCounts"
                                        [albums]="expSets.expGroupTypeAlbums"
                                        (parseInterestingEvent)="parseInterestingToAlbumListener($event)"
                                        (getExpSetsEvent)="getExpSetsListener($event)"
                                ></app-grid-album>
                            </div>
                            <!--L4440-->

                            <!--Treatment Interesting-->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content4" aria-labelledby="profile-tab">
                            </div>
                            <!--!Treatment Interesting-->

                            <!--Control Reagent Interesting-->
                            <div role="tabpanel" class="tab-pane fade " id="tab_content6" aria-labelledby="profile-tab">
                                <div class="row" id="control_reagent_image_gallery">
                                </div>
                            </div>
                            <!--!Control Reagent Interesting-->
                        </div>
                        <!--!Plate Presentation Content-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg"
                    (click)="submitInteresting()"
                    tooltip="Submit everything you have selected as interesting. This will clear the view of all interesting results.">
                Submit Interesting
            </button>
            <br>
            <button type="button" class="btn btn-success btn-lg"
                    (click)="submitAll()"
                    tooltip="Submit everything selected as interesting and not for preselection of manual scores.">
                Submit All
            </button>
            <br>
            <button type="button" class="btn btn-warning btn-lg" (click)="reset()"
                    tooltip="Reset the form. All wells will be marked as 'not interesting'.">Reset
            </button>
            <br>
        </div>
    </div>

    <br>
</div>

