<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="rnais" tooltip="There is a tooltip here!">RNAi List</label>
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
            tooltip="Enter 1 or more rnais (by gene name or cosmid ID) to search for. Separate by whitespace or newline">
      </span>
      <textarea class="form-control"
                name="rnais" id="rnais" rows="5"
                [(ngModel)]="rnais"
                (ngModelChange)="updateRnaisList()"
      >
      </textarea>
    </div>
  </div>
</div>
