<div *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-md-12">
      <h2>Saved Analysis: {{results.name}}</h2>
    </div>
  </div>

  <!--Begin Analysis Results-->
  <div *ngFor="let expSet of results.results; let i=index">
    <div class="row" id="expSet-{{index}}">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h3>Gene Information</h3>
          </div>
          <div class="x_content">
            <div role="tabpanel" data-example-id="togglable-tabs">
              <!--Plate Presentation Menu-->
              <ul id="myTab-{{index}}" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tabExpSetAlbum-{{i}}"
                                                          id="tabExpSetAlbum-tab-{{i}}" role="tab"
                                                          data-toggle="tab"
                                                          aria-expanded="true">ExpSet Album</a>
                </li>
                <li role="presentation" class=""><a href="#tabExpSetCtrlNull-{{i}}" role="tab"
                                                    id="tabExpSetCtrlNull-tab-{{i}}"
                                                    data-toggle="tab"
                                                    aria-expanded="false">N2 + L4440</a>

                <li role="presentation" class=""><a href="#tabExpSetCtrlStrain-{{i}}" role="tab"
                                                    id="tabExpSetCtrlStrain-tab-{{i}}"
                                                    data-toggle="tab"
                                                    aria-expanded="false">mip-1;mip-2 + L4440</a>

                <li role="presentation" class=""><a href="#tabExpSetGeneData-{{i}}" role="tab"
                                                    id="tabExpSetGeneData-tab-{{i}}"
                                                    data-toggle="tab"
                                                    aria-expanded="false">Gene Data</a>
                </li>
                <li role="presentation" class=""><a href="#tabRankData-{{i}}" role="tab"
                                                    id="tabRankData-tab-{{i}}"
                                                    data-toggle="tab"
                                                    aria-expanded="false">Rank</a>
                </li>
              </ul>
              <!-- !Plate Presentation Menu-->
            </div>


            <div id="myTabContent-{{i}}" class="tab-content">
              <!--Begin Gene Data-->
              <div role="tabpanel" class="tab-pane fade" id="tabExpSetGeneData-{{i}}"
                   aria-labelledby="home-tab">
                <div id="expSetGeneData-{{i}}">
                  <dl class="dl-horizontal">
                    <dt>Wormbase Name</dt>
                    <dd>{{expSet.gene.geneName}}</dd>
                    <dt>Gene Name</dt>
                    <dd>{{expSet.gene.wbGeneCgcName}}</dd>
                    <dt>Annotation</dt>
                    <dd>{{expSet.gene.Annotation}}</dd>
                    <dt>Chrom</dt>
                    <dd>{{expSet.gene.chrom}}</dd>
                    <dt>Bioloc</dt>
                    <dd>{{expSet.gene.bioloc}}</dd>
                    <dt>Stock Title</dt>
                    <dd>{{expSet.gene.stocktitle}}</dd>
                    <dt>Stock Loc</dt>
                    <dd>{{expSet.gene.stockloc}}</dd>
                    <dt>Plate Well</dt>
                    <dd>{{expSet.gene.plate}} {{expSet.gene.well}}</dd>
                  </dl>
                </div>
              </div>
              <!--End Gene Data-->

              <!--Begin Rank Data-->
              <div role="tabpanel" class="tab-pane fade" id="tabRankData-{{i}}"
                   aria-labelledby="home-tab">
                <div id="rankData-{{i}}">
                  <div class="row">
                    <div class="col-md-12">
                      <pre>{{expSet.rank | json}}</pre>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Rank Data-->

              <!--Begin ExpSet Album -->
              <div role="tabpanel" class="tab-pane active in" id="tabExpSetAlbum-{{i}}"
                   aria-labelledby="home-tab">
                <div id="expSetAlbum-{{i}}">
                  <!--Begin Treat + Rnai Album-->
                  <div class="row" id="treat_rnai_album-{{i}}">
                    <div class="col-md-12">
                      <h3>mip-1;mip-1 + {{expSet.gene.geneName}} {{expSet.gene.wbGeneCgcName}}</h3>
                    </div>
                    <div *ngFor="let image of expSet.treat_rnai_album; let i=index">
                      <div class="col-md-6">
                        <div>
                          <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                               (click)="open(expSet.treat_rnai_album, i)"/>
                        </div>
                        <br>
                        <div>
                          <dl class="dl-horizontal">
                            <dt>Worm Count</dt>
                            <dd>{{image.counts.wormCount}}</dd>
                            <dt>Larva Count</dt>
                            <dd>{{image.counts.larvaCount}}</dd>
                            <dt>Egg Count</dt>
                            <dd>{{image.counts.eggCount}}</dd>
                            <dt>% Embryonic Lethality</dt>
                            <dd>{{image.counts.percEmbLeth}}</dd>
                            <dt>% Sterility</dt>
                            <dd>{{image.counts.percSter}}</dd>
                            <dt>Brood Size</dt>
                            <dd>{{image.counts.broodSize}}</dd>
                            <dt>Image Path</dt>
                            <dd>{{image.counts.assayImagePath}}</dd>
                          </dl>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                  <!--End Treat + Rnai Album-->

                  <!--Begin Ctrl + Rnai Album-->
                  <div class="row" id="ctrl_rnai_album-{{i}}">
                    <div class="col-md-12">
                      <h3>N2 + {{expSet.gene.geneName}} {{expSet.gene.wbGeneCgcName}}</h3>
                    </div>
                    <div *ngFor="let image of expSet.ctrl_rnai_album; let i=index">
                      <div class="col-md-6">
                        <div>
                          <img tabindex="0" class="img-thumbnail" [src]="image.thumb"
                               (click)="open(expSet.ctrl_rnai_album, i)"/>
                        </div>
                        <br>
                        <div>
                          <dl class="dl-horizontal">
                            <dt>Worm Count</dt>
                            <dd>{{image.counts.wormCount}}</dd>
                            <dt>Larva Count</dt>
                            <dd>{{image.counts.larvaCount}}</dd>
                            <dt>Egg Count</dt>
                            <dd>{{image.counts.eggCount}}</dd>
                            <dt>% Embryonic Lethality</dt>
                            <dd>{{image.counts.percEmbLeth}}</dd>
                            <dt>% Sterility</dt>
                            <dd>{{image.counts.percSter}}</dd>
                            <dt>Brood Size</dt>
                            <dd>{{image.counts.broodSize}}</dd>
                            <dt>Image Path</dt>
                            <dd>{{image.counts.assayImagePath}}</dd>
                          </dl>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                  <!--End Treat + Rnai Album-->

                  <!--<app-gene-expset-album [album]="expSet.ctrl_null_album" [expSet]="expSet" [title]=""></app-gene-expset-album>-->
                </div>
              </div>
              <!--End ExpSet Album -->

              <!-- Begin CtrlNull Album-->
              <div role="tabpanel" class="tab-pane fade" id="tabExpSetCtrlNull-{{i}}">
                <app-gene-expset-album [album]="expSet.ctrl_null_album" [expSet]="expSet" [title]="'N2 + L4440'"></app-gene-expset-album>
              </div>
              <!-- End CtrlNull Album-->

              <!--Begin Ctrl Strain Album-->
              <div role="tabpanel" class="tab-pane fade" id="tabExpSetCtrlStrain-{{i}}">
                <app-gene-expset-album [album]="expSet.ctrl_strain_album" [expSet]="expSet" [title]="'mip-1; mip-2 + L4440'"></app-gene-expset-album>
              </div>
              <!--End Ctrl Strain Album-->

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Analysis Results-->
</div>
<div *ngIf="!isDataAvailable">
  <p>Loading...</p>
</div>
