.modal-dialog {
    position: absolute;
    top: 5%;
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 90%;
    border-radius: 0;
}
