<!--Begin Display ExpSet Album-->
<div *ngIf="score">
  <button (click)="getExpSets(modelPredictedCounts)" type="button" class="btn btn-default btn-lg">
    <span class="fa fa-picture-o" aria-hidden="true"></span>
  </button>
</div>

<!--End Display ExpSet Album-->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">ExpSet Album</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-body">

        <div *ngIf="expSet">
          <app-expset-album [score]="score"
                            [albums]="albums"
                            [expSetAlbums]="expSetAlbums"
                            [modelPredictedCounts]="modelPredictedCounts"
                            [expSet]="expSet">
          </app-expset-album>
        </div>

      </div>

    </div>
  </div>
</div>
