<!--Start Search Form-->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Search all the worms!
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form (ngSubmit)="onSubmit()">
                    <div class="col-xs-3">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#screenData" data-toggle="tab">Screen</a>
                            </li>
                            <li><a href="#viewOptions" data-toggle="tab">View Options</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <button type="submit" id="searchFormSubmit" class="btn btn-success">Submit</button>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-xs-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="screenData">
                                <p class="lead">Screen Data</p>
                                <app-search-form-exp-screen
                                        [formResults]="searchFormExpScreenResults"></app-search-form-exp-screen>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>

            </div>
        </div>

    </div>
</div>
<!--End Search Form-->

<!--Start Spinner-->
<ngx-spinner
        bdColor="rgba(51, 51, 51, 0.8)"
        size="large"
        color="#fff"
        type="ball-atom"
></ngx-spinner>
<!--End Spinner-->

<!--Start Content-->
<div class="row">
    <div class="col-md-12">

        <div *ngIf="formSubmitted">
            <!--Begin Content-->
            <div *ngIf="expSets && expSets.expWorkflows?.length" class="expSets">
                <app-contact-sheet [expSets]="expSets" [byPlate]="true"
                                   (expSetsScored)="getNewExpSets($event)"></app-contact-sheet>
            </div>
            <!--End Content-->
            <div *ngIf="expSets && ! expSets.expWorkflows?.length">
                <h2>Empty ResultSet</h2>
                <p>The search you performed returned an empty result set.</p>
                <p>Either your search is incorrect, all plates are scored for this screen, or not in the database.</p>
            </div>
        </div>
    </div>
</div>
<!--End Content-->
